NEXT_PUBLIC_NOTE_URL=https://note.com/life_to_ai
NEXT_PUBLIC_CONTACT_EMAIL=
NEXT_PUBLIC_SITE_URL=
NEXT_PUBLIC_ZENN_URL=
NEXT_PUBLIC_MEDIUM_URL=
NEXT_PUBLIC_BOOTH_URL=
NEXT_PUBLIC_GITHUB_URL=https://github.com/kenken0830/ai-note-homepage
NEXT_PUBLIC_X_URL=
NEXT_PUBLIC_YOUTUBE_URL=
NEXT_PUBLIC_NEWSLETTER_URL=
NEXT_PUBLIC_COMMUNITY_URL=
